div.box, div.cell {
	display: inline-block;
}

div.cell {
	border: 1px solid red;
}

.cell input {
	width: 30px;
	height: 30px;
	text-align: center;
}

#sudoku {
  font-size: 0;
  text-align: center;
}

body {
  text-align: center;
  font-family: Arial;
}

.incorrect {
	background-color: yellow;
}

.value-provided {
	background-color: #DDD;
}